<% content_for :header do %>
  <h1><%= link_to 'Home', root_path %> &raquo; <%= link_to 'Samples', samples_path %> &raquo; New</h1>
<% end %>
<% semantic_form_for @sample do |f| %>
  <header><h1>Enter sample data</h1></header>
  <%= render :partial => '/samples/fields', :locals => {:form => f} %>
  <%= f.submit %>
<% end %>