
/* HTML 5 Element formatting
--------------------------------------------------------------------------------------------------*/
nav {
    margin: 1em 0;
    padding: 0.5em;
    background: #F7F7F7;
}