<header>
  <h2>Samples from this Site</h2>
  <nav>
    <%= link_to('Add Sample', new_site_sample_path(site)) %>
  </nav>
</header>
<table>
  <tr>
    <th>Lab Number</th>
    <th>Site Name</th>
    <th>Radiocarbon Age Before Present</th>
    <th>Standard Deviation</th>
    <th>Lower Calibrated Date</th>
    <th>Median Calibrated Date</th>
    <th>Upper Calibrated Date</th>
    <th>Description</th>
  </tr>
  <%= render site.samples %>
</table>